body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: #FFFDE9;
}

#tit{
	text-align: center;
}

#contenedor{
	margin: 0 auto;
	width: 85%;
	text-align: center;
}

#cues p{
	border: solid 1px #FCD758;
	background: #FFFDCB;
	color: #F93;
}

.botones{
	float;
	background: #999;
	font-size: 14px;
	color:yellow;
	padding: 10px;
	border-radius: 50px;
	text-decoration: none;
}

.botones:hover{
	background: #999;
	font-size: 14px;
	color:black;
	text-decoration: none;
	border-radius: 15px;
}
.botones:active{
	background: #999;
	font-size: 14px;
	color:white;
	text-decoration: none;
	border-radius: 40px;
}

.resM{
	background: #FFFDCB;
	color: #000;
	border: solid 2px #990000;
}

.resB{
	background: #FFFDCB;
	color: #F93;
	border: solid 2px #FCD758;
}

.tabla{
	border: solid 2px #FCD758;
}

.tabla thead{
	background: #F93;
	color: #FFFDCB;
}

.tabla tbody{
	background: #FFFDCB;
	color: #F93;
}

.tabla th{
	border: solid 1px;
}

.tabla td{
	border: solid 1px;
}