body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: #FFFDE9;
}

#tit{
	text-align: center;
}

#contenedor{
	margin: 0 auto;
	width: 85%;
	text-align: center;
}

.cu{
	font-size: 2em;
	background:#F93;
	color: #FFFDCB;
}

.im{
	margin: 0 auto;
	width: 85%;
	text-align: center;
}

#formar{
	font-size: 1.5em;
	background:#F93;
	color: #FFFDCB;
}

.resB{
	font-size: 2em;
	margin: 0 auto;
	width: 40%;
	background: #FFFDCB;
	color: #F93;
	border: solid 2px #FCD758;
}

.resM{
	margin: 0 auto;
	width: 40%;
	background: #000;
	color: #FF0000;
	border: solid 2px #FF0000;
}