body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background: #FFFDE9;
}

#tit{
	text-align: center;
}

#contenedor{
	margin: 0 auto;
	width: 85%;
	text-align: center;
}

#cues{
	margin: 0 auto;
	width: 40%;
	float: left;
}

#cues p{
	border: solid 1px #FCD758;
	background: #FFFDCB;
	color: #F93;
}

#disc{
	float: right;
}

.resM{
	width: 40%;
	float: right; 
	background: #FFFDCB;
	color: #000;
	border: solid 2px #990000;
}

.resB{
	width: 40%;
	float: right;
	background: #FFFDCB;
	color: #F93;
	border: solid 2px #FCD758;
}