*{
	margin: 0px;
	padding: 0px;
}

#header{
	background: #c0c0c0;
	text-align: center;
	padding: 5px;
	font-weight: bold;
}


#cuerpo1, #cuerpo2{
	width: 90%;
	margin: 20px auto 10px auto;
	border: 2px solid #000;
	text-align: center;
	padding: 10px 0px;
	background: #CECECE;
}

#selected{
	width: 45%;
	border: 2px solid #F93;
	background: #000;
	color:#FFF;
}

#tabla, #tablaTitle{
	width: 80%;
	border: 2px solid #F93;
	border-radius: 8px;
	text-align: center;
	margin: 10px auto;
}

#thed, #thedTi{
	border: 2px solid #F73;
	background:#F93; 
	border-radius: 12px;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	padding: 5px;
}

#tbo, #tboTi {
	border: 2px solid #F73;
	background:#000;
	color:#fff; 
	border-radius: 12px;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	padding: 5px;
}

#tboTi td{
	width: 45%;
}

.imagen{
	width: 200px;
	height: 200px;
}



